on:
  push:
    branches:
      - master
env:
  ACTIVE_API_URL: 'https://demo-stable.nonamesec.com/active'
  ACTIVE_SEVERITY_THRESHOLD: medium
  ACTIVE_TEST_SUITE_ID: c2337ed3-b83a-4878-ab1f-77a8670c952d
  ACTIVE_BASE_URL: 'http://localhost:5002'
jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
      
      - name: run vampi
        run: docker compose up -d 
      
      - name: test vampi
        run: sleep 15 && curl -k http://localhost:5002/ --retry 8 --retry-delay 1

      - name: docker login
        uses: docker/login-action@v1
        with:
          registry: jfrog.cicd.nonamesec.com/noname-docker-release
          username: noname-demo-latest@nonamesecurity.com
          password: ${{ secrets.ACTIVE_REGISTRY_PASSWORD }}

      - name: security test
        run: |
          docker run \
          --pull always \
          --network host \
          jfrog.cicd.nonamesec.com/noname-docker-release/active-cli:$(curl -k ${{env.ACTIVE_API_URL}}/backend/version) \
          scan \
          --api-url=${{ env.ACTIVE_API_URL }} \
          --api-token=${{ secrets.ACTIVE_API_TOKEN }} \
          --test-suite-id=${{ env.ACTIVE_TEST_SUITE_ID }} \
          --severity-threshold=medium \
          --base-url=${{ env.ACTIVE_BASE_URL }}

  deploy:
    needs: scan
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: echo Hello world ${{ env.ACTIVE_BASE_URL }}
